<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
		<link rel="stylesheet" href="console.css"></link>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script type="text/javascript" src="../src/compiler.js"></script>
		<script type="text/javascript" src="../src/dictionary.js"></script>
		<script type="text/javascript" src="../src/memory.js"></script>
		<script type="text/javascript" src="../src/predefined.js"></script>
		<script type="text/javascript" src="../src/stack.js"></script>
		<script type="text/javascript" src="../src/tokenizer.js"></script>
		<script type="text/javascript" src="../src/michelson.js"></script>
		<script type="text/javascript" src="console.js"></script>
	</head>
	<body ng-app="morley" ng-controller="console" >

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Morley</a>
				</div>
				<!--
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../navbar/">Default</a></li>
						<li><a href="../navbar-static-top/">Static top</a></li>
						<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
					</ul>
				</div>
				-->
			</div>
		</nav>

		<div class="container-fluid Override console-main">
			<div class="row fill">
				<div class="wrapper">
					<div class="col-lg-9">
						<div class="space">
							<h1>Program</h1>
							<textarea ng-model="program" class="form form-control" style="height: 92%"></textarea>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="space">
							<h1>Stack Viewer</h1>
							<div class="pull-down">
								<div ng-repeat="item in stack | orderBy:'$index':true track by $index" class="stack-item">{{item}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<input type="text" ng-model="command" class="form form-control" my-enter="onEnter()"/>
					</div>
				</div>
			</div>
		</footer>

	</body>
</html>
