.editor-text {
  font: 14px monospace;
}

.editor {
  width: 100%;
  padding: 5px;
  border: 1px solid #888;
  margin-bottom: 20px;
}

.editor .text {
  height: 298px;
  overflow-y: auto;
}

.editor.small .text {
  height: 150px;
}

.editor .stack-viewer, .stack {
  padding: 5px;
  border: 1px solid #888;
  margin-bottom: 5px;
}

/* This is used in the book for showing the stack */
.stack {
  border: 0;
  margin-bottom: 20px;
  margin-left: 1em;
}

/* This is used in the book for showing a preview of the editor */
.editor-preview {
  margin-left: 1em;
  margin-bottom: 20px;
  white-space: pre-wrap;
  line-height: 1.5em;
}

/* newlines in output will be treated like new paragraphs */
.editor .prev-lines p {
  white-space: pre-wrap;
  margin: 0;
  line-height: 1.5em;
}

.editor .input {
  height: 1.5em;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #888;
  margin: 0;
  margin-top: 2px; /* hack to make textarea line up with prev-lines paragraph */
  resize: none;
  padding: 0;
}

.code {
  color: #333;
}

.output {
  color: #999;
}
