<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Easyforth by skilldrick</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/editor.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Easy Forth</h1>

        <p><em>by</em> <a href="https://twitter.com/skilldrick">Nick Morgan</a></p>

        <p class="view"><a href="https://github.com/skilldrick/easyforth">View on GitHub</a></p>
      </header>

      <section>

        {{ content }}

      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/stack.js"></script>
    <script src="javascripts/dictionary.js"></script>
    <script src="javascripts/memory.js"></script>
    <script src="javascripts/tokenizer.js"></script>
    <script src="javascripts/compiler.js"></script>
    <script src="javascripts/predefined.js"></script>
    <script src="javascripts/forth.js"></script>
    <script src="javascripts/jquery-2.1.4.js"></script>
    <script src="javascripts/editor.js"></script>
    <script src="javascripts/test.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-3174668-13");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
